<div class="container">
  <div class="row">
    <div class="col-sm-6 col-sm-offset-3">
      <h1><%= @product.new_record? ? "Publicar": "Editar" %> Producto</h1>

      <% if @product.errors.any? %>
        <div class="alert alert-danger">
          <ul>
          <% @product.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
          </ul>
        </div>
      <% end %>

      <%= form_for @product do |f| %>
        <div class="form-group">
          <%= f.text_field :name, class: 'form-control input-lg', placeholder: "Nombre del producto" %>
        </div>

        <div class="form-group">
          <%= f.number_field :price, class: 'form-control input-lg', placeholder: "Precio del producto" %>
        </div>

        <% Category.all.each do |category| %>
        <% #byebug %>
          <p><%= category.name %> <%= check_box_tag "product[category_ids][]", category.id, @product.categories.pluck(:id).include?(category.id)  %></p><br>
        <% end %>

        <div class="actions text-right">
          <%= f.submit @product.new_record? ? "Crear Producto" : "Editar Producto", class: "btn btn-primary btn-lg btn-block" %>
        </div>
      <% end %>
    </div>
  </div>
</div>